:root{
    --verde: #7cb342;
    --colorBoton: #83ac1d;
    --azul: #007cbf;
    --azulFooter: #0277bd;
    --azulOscuro: #01508b;
    --gris: #e5e5e5;
    --blanco: #ffffff;
    --grisFoncé: #BDBDBD;
    --negro: #000000;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}

html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: 'Albert Sans', sans-serif;
}
a{
    text-decoration: none;
}


/************************************ NAVIGATION ***********************************/

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0 5px 5px;
    box-shadow: 0px -7px 25px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px -7px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -7px 25px 0px rgba(0,0,0,0.75);
}
.navigation__logo{
    width: 60px;
    height: 60px;
}

/**** navigation droite ****/
.navigation__droite{
    display: none;
}
.navigation__option{
    margin-right: 1.5rem;
}
.navigation__option:hover{
    border-left: 2px solid var(--verde);
    border-right: 2px solid var(--verde);

    transition: 1s;
}
.navigation__option--lien{
    font-size: 2rem;
    color: var(--azul);

    transition: 1s;
}
.navigation__option--lien:hover{
    color: var(--verde);

    transition: 1s;
}

/**** navigation gauche ****/

.navigation__gauche{
    display: flex;
}
/**** hamburger nav ****/

.menu__burger-div{
    padding:5px;
}
.menu__burger{
    width: 3.5rem;
    height: 3px;
    border-radius: 5px;
    background-color: var(--negro);
    position: relative;
    margin: 0 1rem;

    transform: translateY(27px);
}
.menu__burger::before, .menu__burger::after{
    content: '';
    width: 3.5rem;
    height: 3px;
    border-radius: 5px;
    background-color: var(--negro);
    position: absolute;
}
.menu__burger::before{
    transform: translateY(-11px);

    transition: .3s;
}
.menu__burger::after{
    transform: translateY(11px);

    transition: .3s;
}
/* hamburger nav animation */

.burger-toggle.menu__burger{
    background: transparent;

    transition: .3s;
}
.burger-toggle.menu__burger::before{
    transform:rotate(45deg);
}
.burger-toggle.menu__burger::after{
    transform:rotate(-45deg);
}

/**** menu responsive ****/

.navigation__responsive{
    background-color: var(--blanco);
    -webkit-box-shadow: -5px 0px 31px -10px #000000; 
    box-shadow: -5px 0px 31px -10px #000000;
    position: absolute;
    width: 25rem;
    height: 100vh;

    transform: translateX(-110%);
    transition: .5s;
}
.navigation__option-res{
    margin-left: 2rem;
    margin-top: 3rem;
}
.navigation__option--lien-res{
    font-size: 3rem;
    color: var(--azul);
}

.menu-toggle.navigation__responsive{
    transform: translateX(0%);

    transition: .5s;
}
/******** MEDIA QUERIES ********/

@media(min-width: 768px) {
    .navigation{
        display: flex;
    }
    .navigation__option{
        border-left: 2px solid var(--azul);
        border-right: 2px solid var(--azul);

        padding: .5rem;
    }
    .menu__burger{
        display: none;
    }
    .navigation__droite{
        display: flex;
    }
}
@media(min-width: 823px) {
    .navigation__option{
        margin: 0 2rem 0 2rem;
        border: none;
    }
    .navigation__option:hover{
        border: none;
    }
}
